
<%#= render partial: 'message', collection: @messages %>

<div class="message">
    <% if message.present? %>
        <div class="foo" data-message-owner="<%= message.user_id %>">
            <p><%= message.message %></p>
        </div>
    <% else %>
        <p>メッセージがありません</p>
    <% end %>
</div>