
<%#= render partial: 'message', collection: @messages %>

<div class="message">
    <% if message.present? %>
        
        <p><%= message.user_id %>:<%= message.message %></p>
    <% else %>
        <p>メッセージがありません</p>
    <% end %>
</div>