<div class="chat-top">
    <p>chat <i class="bi bi-chat-dots"></i></p>
</div>
<div class="chat_main">
    <div class="person">
        <h1><i class="bi bi-people"></i> friend</h1>
        <div class="user_name">
            <% @rooms.each do |room| %>
                <div class="user">
                    <%= link_to room.name , chat_room_path(room.id) %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="chat_room">
        <div class="chat" id="message">
            <%= render partial: 'message', collection: @messages %>
        </div>
        <form>
            <input type="text" class="text_box" data-behavior="room_speaker">
            <input type="submit" value="送信">
            <input id="room_id" type="hidden" value= "<%= @room_id %>">
            <input id="current_user_id" type="hidden" value="<%= session[:login_id] %>">
        </form>
    </div>
<div>

<script type="text/javascript">
    function addMessageClass() {
        let current_user_id = $("#current_user_id").val();
        $(".foo").each(function(index, element) {
            if ($(element).data('message-owner') == current_user_id) {
                $(element).addClass("mycomment");
            } else {
                $(element).addClass("pertner")
            }
        });
    }
    $(addMessageClass());
</script>