<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャット</title>
    <%= stylesheet_link_tag 'chat_show', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body>
    <main>
        <div class="column">
        <div class="sidebar_size">
            <%= render partial: 'sidebar' %>
        </div>
        <div>
            <h1>チャット</h1>
            <div class="user_name">
                <% @rooms.each do |room| %>
                    <div class="user">
                        <%= link_to room.name , chat_room_path(room.id) %>
                    </div>
                    <br>
                <% end %>
            </div>
        </div>
        <div>
            <div class="chat" id="message">
                <%= render partial: 'message', collection: @messages %>
            </div>
            <form>
                <label>メッセージ</label>
                <input type="text" data-behavior="room_speaker">
                <input type="submit" value="送信">
            </form>
        </div>

        
    </div>
    </main>
</body>
</html>