<!DOCTYPE html> 
<html>
  <head>
    <title>ENC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="move">
      <div class="login_h1">
        <h1>ログイン<h1>
      </div>
      <form method="post">
        <div class="user_login">
          <p>ユーザーID </p>
          <input type="text">
        </div>
        <div class="user_login">
          <p>パスワード</p>
          <input type="password" name="password">
        </div>
        <div class="login_button">
          <button type="button" name="login" value="ログイン">ログイン</button>
        </div>
        
      </form>
    </div>
    <button type="button" name="start" value="スタート">新規登録</button>
  </body>
</html> 