<!DOCTYPE html>
<html>
  <head>
    <title>ENC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <h1>ログイン<h1>
   <form method="post">
     <p>ユーザーID </p>
     <input type="text" required>
     <p>パスワード</p>
     <input type="passward" name="passward">
     <button type="button" name="login" value="ログイン">ログイン</button>
     <button type="button" name="start" value="スタート">新規登録</button>
   </form>

  </body>
</html>
