html,body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
.user input[type = "submit"] {
    padding:20px 50px;
    font-size:1rem;
    color:white;
    background-color:#4e4e4e;
}
.user input[type="submit"]:hover {
    color:#4e4e4e;
    background-color:rgb(199, 201, 202);
}

p {
    margin:0;
}
/* サイドバーのcss */