
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
    font-size:20px;
    max-height:100vw;
}

.chat-top {
    width:100%;
    height:5%;
    
    background-color:rgb(116, 187, 183);
    position:relative;
}
.chat-top p {
    margin:0;
    width:fit-content;
    color:white;
    font-family: 'Itim', cursive;
    font-weight:bold;
    font-size:1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    text-align:center;
}

p {
    margin:0px;
}
.text_box {
    width:75%;
}

.chat_main {
    width:100%;
    height:95%;
    display:flex;
    background-color: white;
}

.person {
    width:20%;
    border-right:rgb(179, 179, 179) 1px solid;
}
.person h1 {
    font-family: 'Itim', cursive;
    text-align:center;
}
.user_name{
    border-top:rgb(179, 179, 179) 1px solid;
}
.user {
    height:60px;
    border-bottom:rgb(179, 179, 179) 1px solid;
}
.user a {
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration:none;
    font-size: 1.4rem;
    box-sizing: border-box;
    padding:10px;
}
.user a:hover {
    background-color:rgb(230, 230, 230);
    color:black;
}

#message {
    min-width:90%;
    max-height:90%;
    border: 1px solid black;
    white-space: nowrap;
    overflow:scroll;
    overflow-y:auto;
    overflow-x:hidden;
}
.chat_room {
    width:80%;
    max-height:100%;
    box-sizing:border-box;
    padding:10px 0px;
    
}

.message {
    margin:10px;
    
}
.message p {
    margin:0px;
    font-size:0.8rem;
}

.mycomment {
    width:fit-content;
    margin-left: auto;
    box-sizing: border-box;
    padding:0.5em 1em;
    background-color: rgb(133, 224, 110);
    border-radius: 0.7rem;
}
.pertner {
    width:fit-content;
    box-sizing: border-box;
    padding:0.5em 1em;
    background-color: rgb(223, 223, 223);
    border-radius: 0.7rem;
}





.chat_room form {
    width:80%;
    position:fixed;
    bottom:0;
    margin:10px;
}
.chat_room form [type="text"] {
    padding:10px;
    border-radius:1rem;
}

.chat_room form input[type = "submit"] {
    padding:10px;
    font-size:1rem;
    color:white;
    background-color:#4e4e4e;
}
.chat_room form [type="submit"]:hover {
    color:#4e4e4e;
    background-color:rgb(199, 201, 202);
}