html,body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
.user {
    padding:20px 50px;
    font-size:3rem;
    font-weight:500;
    color:white;
    background-color:#4e4e4e;
}
.user:hover {
    color:#4e4e4e;
    background-color:rgb(199, 201, 202);
}

/* サイドバーのcss */
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
    
html {
    height: -webkit-fill-available;
}
    
main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
.column {
    display:flex;
    min-height:100vh;
}
.sidebar_size {
    min-height:100%;
}