.friend_search{
    width:30%;
    display: flex;
    position:relative;
    left: 50px;
}

.list p {
    margin:0;
    font-size: 30px;
}

.list {
    font-size: 30px;
    line-height: 40px;
    width:70%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.friend_icon {
    widows: 130px;
    height: 130px;
    border-radius:100px;
}