/* // Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */


html {
    height: 100%;
    margin: 0 auto;
	padding: 0;
	display: table;
}

body {
    background-color: rgb(255, 146, 197);
    min-height: 100%;
    margin: 0 auto;
	padding: 0;
	display: table-cell;
    vertical-align: middle;
    line-height: 30px;
}

h2 b {
    font-size: 30px;
}

.card-body {
    text-align:center;
    margin:0 30%;
    padding: 50px 0 ;
    border-radius:3rem;
    background-color: rgb(236, 236, 236);
}

.card-body input[type="text"] {
    width: 70%;
    margin:0 auto;
}

.card-text {
    font-size: 20px;
}

.card-center {
    margin:0 auto;
}

.input {
    margin-bottom: 30px;
}

p {
    margin-bottom:20px;
    font-size:20px;
}

.button{
    background-color: #f161a5;
    border-color:  #f161a5;
    position: absolute;
    top: 30px;
    left:25px;
    z-index:1;
}

.heart {
	width: 120px;
	height: 120px;
    position: relative;
    margin: 0 auto;
}

.heart::before,.heart::after {
	content: "";
	position: absolute;
	top: 0; 
	width: 60px;
	height: 100px;
	background: #f161a5;
	border-radius: 100px 100px 0 0;
	
}
.heart::before {
  left: 60px;
  transform: rotate(-45deg);
	transform-origin: 0 100%;
}
.heart::after {
  left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

