/* // Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */


html {
    height: 100%;

	padding: 0;
	display: table;
}

body {
    background-color: rgb(255, 146, 197);
    min-height: 100%;
    min-width:100%;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}

.card-body {
    background-color: rgb(236, 236, 236);
}

.main {
    text-align: center;
    min-width:100%;
}
.card-center {
    margin:0 auto;
}


