/* // Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */
html, body {
    padding:0px;
    margin:0px;
}
.my_profile {
    border-bottom:1px solid black;
}

/* サイドバーのcss */
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin:0;
    padding:0;
}
    
html {
    height: -webkit-fill-available;
}
    
main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
.column {
    display:flex;
    min-height:100vh;
}
.sidebar_size {
    min-height:100%;
}

/* モーダルウィンドウ */
.modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-contents {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    padding:40px;
    border-radius:20px;
  }