/* // Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */
html, body {
    padding:0px;
    margin:0px;
}
.my_profile {
    border-bottom:1px solid black;
}

/* サイドバーのcss */
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin:0;
    padding:0;
}
    
html {
    height: -webkit-fill-available;
}
    
main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
.column {
    display:flex;
    min-height:100vh;
}
.sidebar_size {
    min-height:100%;
}