html, body {
    padding:0px;
    margin:0px;
    width:100%;
    height:100vh;
}

p {
    margin:0;
}

/* メイン */
.main {
    width:100%;
}
.my_profile {
    width:100%;
    border-bottom:1px solid black;
}
.header-top {
    width:100%;
    background-color:rgb(245, 53, 219);
    color:white;
    border-bottom:1px solid black;
}
.my_icon{
    width:fit-content;
}
.my_icon img {
    width:200px;
    height:200px;
    border-radius: 100px;
}
.proname {
    width: fit-content;
}
.profile {
    text-align:center;
    display:flex;
    justify-content: center;
}

.proname p{
  font-size:30px;
  line-height:35px;
}
.good_list{
    margin: 0 auto;
    width:50%;
}
.friend-row {
    display:flex;
    align-items:center;
}
.good_list img{
  width:130px;
  height:130px;
  border-radius: 100px;
}
.friendshow{
  background-color:burlywood;
  width:50%;
  display:flex;
  justify-content: space-between;
  padding:10px;
  margin: 10px;;
  font-size:30px;
  line-height:50px;
}













/* モーダルウィンドウ */
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    padding: 1rem;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
}
#modal p {
    margin:0;
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(3px);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    display:none;
    transition: visibility 0.3s, opacity 0.3s;
}
#modal.inview {
    visibility: visible;
    opacity: 1;
    display:block;
}
#closer {
    width: 50px;
    font-size:2.5rem;
    color: #4e4e4e;
    background-color:white;
    padding:0;
    border:none;
    letter-spacing: .1em;

}
#closer:hover {
    color: #969696;
    cursor: pointer;
}
.close-right {
    display:flex;
    justify-content:flex-end;
    text-align:center;
}
.modal-window form {
    max-width:75%;
    margin:0 auto;
}
.modal-center {
    width:100%;
}
.user_name input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #969da3;
    box-sizing:border-box;
    border-radius: 3px;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}
.user_name input:focus {
    outline: 2px solid #2589d0;
}


.icon{
    width:200px ;
    height:200px ;
}

.good_icon{
    width:100px ;
    height:100px ;
}