/* // Place all the styles related to the new_account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */
html {
    height: 100%;
    margin: 0 auto;
	padding: 0;
	display: table;
}

body{
    background-color: rgb(145, 251, 216);
    min-height: 100%;
    min-width:100%;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;

}
.card-body {
    text-align:center;
    margin:0 30%;
    padding: 50px 0 ;
    background-color: rgb(236, 236, 236);
    border-radius: 3rem;
}
.card-center {
    margin:0 auto;
}
.input {
    margin-bottom: 20px;
}
.card-text{
    padding-bottom: 2rem;
    font-size:20px;
}
.card-body input[type="text"] {
    width: 70%;
    margin:0 auto;
}
p{
    margin-bottom:20px;
    font-size:20px
    
}
.button{
    position: absolute;
    top: 30px;
    left:30px;
    z-index:1;
}

.button input{
    background-color: #97d9e1;
    border: none;
}

.heart {
	width: 120px;
	height: 120px;
    position: relative;
    margin: 0 auto;
}
.heart::before,.heart::after {
	content: "";
	position: absolute;
	top: 0%; 
	width: 60px;
	height: 100px;
	background: #97d9e1;
	border-radius: 100px 100px 0 0;
	
}
.heart::before {
  left: 55%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart::after {
  left: 5%;
   transform: rotate(45deg);
   transform-origin: 100% 100%;
}


 

