<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar_size" style="width: 280px;">
    <a href="/mypage/profile" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
        <a href="/mypage/profile" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
            マイページ
        </a>
        </li>
        <li>
        <a href="/friend_list/index" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
            フレンド一覧
        </a>
        </li>
        <li>
        <a href="/search/index" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
            検索
        </a>
        </li>
        <li>
        <a href="/chat_room/chat_page/" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            チャット
        </a>
        </li>
        <li class="nav-item">
        <a href="/setting/index" class="nav-link text-white" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
            設定
        </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                    ログアウト
                </a>
            </li>
        </ul>
    </div>
    
</div>